{% extends 'partials/base.html.twig' %}

{% block content %}
<h1>Environment Debug</h1>
<pre>
Dotenv plugin enabled: {{ config.get('plugins.dotenv.enabled') ? 'YES' : 'NO' }}
Login-OAuth2 plugin enabled: {{ config.get('plugins.login-oauth2.enabled') ? 'YES' : 'NO' }}
GitHub provider enabled: {{ config.get('plugins.login-oauth2.providers.github.enabled') ? 'YES' : 'NO' }}
Client ID: {{ config.get('plugins.login-oauth2.providers.github.credentials.client_id') }}
Client Secret set: {{ config.get('plugins.login-oauth2.providers.github.credentials.client_secret') ? 'YES' : 'NO' }}

All OAuth2 config:
{{ dump(config.get('plugins.login-oauth2')) }}

Dotenv config:
{{ dump(config.get('plugins.dotenv')) }}
</pre>
{% endblock %}